.featureCard{
    display: flex;
    flex-direction: row;
align-items: flex-start;
    gap:30px;
    background-color: aqua;
    flex: 1 1 27%;
    margin: 20px;
    padding: 20px;

}

.feaureCardTitle{
  
    display: flex;
    flex-direction: column;
    gap:5px
}


.featureCard i{
    font-size: 35px;
    background-color: #EBEBEB;
    border: 3px solid green;
    border-radius: 20px;
    padding: 10px;
    color: #444444;

    



   
}

.featureCard h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600; /* Semi Bold */
    font-size: 21px;
    color: #444444;

}

.featureCard h3 {

}