.featureCards{
    display: flex;
    background-color: red;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;

}
.featureCardsContainer{
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 20px; 
}