@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

.navbar {
    background-color: #12161B;
    color: white; 
   display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 120px;
    ;
 

  }

  .navbarLogo {
    
    font-size: 24px;
    font-weight: 600;
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    margin-left:40px;
    

    
    
   
  }

  .navbarLogo img{
    padding-top: 30px;
    margin-left: -100px;
    transform: scale(0.7);
    height: auto;
  }

  
  .navbarMenu ul {
    display: flex;
    justify-content:flex-end   ;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items:center;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    gap: 20px;
    padding-top: 5%;

    
  }
  
  .navbarMenu ul li {
    margin: 0 20px;
    
  }
  
  .navbarMenu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    padding: 20px 20px

    
    
  }
  
  .navbarMenu ul li a::after {
    content: '';
    display: block;
    width: 0px;
    height: 1px; /* Adjust the height of the underline */
    background:white; /* Color of the underline */
    transition: width 0.3s; /* Smooth transition effect */
    position: absolute;
    bottom: -15px; /* Adjust this value to position the underline lower */
    left: -5px; /* Adjust this value to position the underline more left */
}

.navbarMenu ul li a:hover::after {
    width: 100px; /* Full width underline on hover */
}
  
  .navbarMenu ul li a:hover {
    color: white;
    transition: 0.3s ease;
    
   
  }
 
  .signupBtn {
    background-color: var(--color-blue-600);
    border: 2px solid var(--color-blue-600);
    border-radius: 30px;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .signupBtn:hover {
    background-color: #1A1818;
    border-color: #1A1818;
    color: white;
    transition: 0.3s ease;

  }


